name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Set up poetry
        run: |
          curl -sSL https://install.python-poetry.org | POETRY_VERSION=1.1.15 python -
          echo "$HOME/.poetry/bin" >> $GITHUB_PATH
      - name: Build zipapp
        run: ./bin/build -o /tmp/notifier.pyz
      - name: Archive artifact
        uses: actions/upload-artifact@v1
        with:
          name: notifier.pyz
          path: /tmp/notifier.pyz
      - name: Create release (if release branch)
        if: startsWith(github.ref, 'refs/tags/v') == true
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: Release ${{ github.ref }}
          draft: false
      - name: Upload zipapp
        id: upload-release-asset
        if: startsWith(github.ref, 'refs/tags/v') == true
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: /tmp/notifier.pyz
          asset_name: notifier.pyz
          asset_content_type: application/zip
